h1, p, h3, ul, li, h5, h4, {}

h1{background: lightblue;
  text-align: center
}
p {
  background: lightgray
}
h3 {
  text-align:center;
  background: lightgray;
}
ul {background: lightgray;
}
li {background: lightgray;
}
h5 {
  text-align: left;
  background: lightgray;
}
h4{background: lightgray;
}
